    <div class="jumbotron mt-4">
        <h1 class="display-4">Notes App Nodejs an Mongo</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <hr class="my-4"> 
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi illum eum ratione voluptatem voluptatum, consectetur repellendus repellat aspernatur amet placeat? Ratione reiciendis a magni ea quasi. Corporis cum exercitationem quaerat!</p>
        <a href="https://www.youtube.com/watch?v=WVPGbYIXRU4&list=RDGMEMJQXQAmqrnmK1SEjY_rKBGAVMWVPGbYIXRU4&start_radio=1" class="btn btn-primary btn-lg">Canción para ti</a>
    </div>
